version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=portfolio
      - POSTGRES_PASSWORD=portfolio123
      - POSTGRES_DB=portfolio_db
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: web
    ports:
      - "5000:5000"
    restart: unless-stopped
    depends_on:
      - db
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=production
      - DATABASE_URL=postgresql://portfolio:portfolio123@db:5432/portfolio_db

volumes:
  db-data:
